<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Untitled</title>
        <style type="text/css" media="screen">
            p span{display: block;width: 100%;border-radius: 6%;background-color: rgb(255,229,185);font-weight: bolder;margin: 10px 5px;}
        </style>
    </head>
    <body>
        <div class="info">
            <p><span>开发环境</span>
                <ul>
                    <li><strong>PyCharm Community Edition 2020.2.1 x64</strong></li>
                    <li>Google Chrome</li>
                    <li>Sublime Text 3中文优化版</li>
                </ul>
            </p>
            <p><span>主要环境</span>
            <ul>
                <li><strong>Anaconda3\python.exe  flask</strong></li>
                <li>Python3.7</li>
                <li>sqliteStudio.exe</li>
                <li>PyCharm Community Edition 2020.2.1 x64</li>
            </ul>
            </p>
            <p><span>数据库</span>database.db, 10,240 字节, 2020/12/22 18:48:40</p>
            <p><span>开发者</span>shigen </p>
            <p><span>项目名</span>学校信息管理系统Beta version</p>
            <p><span>优点</span>
            <ul>
                <li>基本的连接数据库进行增删改查的功能功能完备</li>
                <li>主体的框架完备</li>
                <li>开发的周期快（两天定型，几乎从零开始自学）</li>
                <li>对于bug的解决较快，平均周期20min</li>
            </ul>
            </p>
            <p><span>不足之处</span>
            <ul>
                <li>上手的时间略短，加上期末考试复习的任务大，只能草草了事</li>
                <li>UI还是不怎么很好看，好在真正的大项目有专门的美工人员负责，还有很多开源的UI框架，bootstrap jquery UI等</li>
                <li>还是老问题，数据库的ID是唯一的，我怎么样才能避免插入的时候插入重复的值报错</li>
                <li>输入框的文本验证</li>
            </ul>
            </p>
            <p><span>总体总结</span>在短时间完成已经近乎奇迹，后期加强联系（时间充足的话）</p>
            <p><span>项目打分</span>90+</p>
        </div>

    </body>
</html>