<html>
<style type='text/css'>
   p span{display:inline-block;width: 100px;}
   a{display:inline-block;margin: 5px 0;border-radius: 4px;background: rgb(255,229,185);text-decoration: none;}
</style>
   <body>

      <form action = "{{ url_for('AddUser') }}" method = "POST">
         <h3>添加学生</h3>
         <p><span>帐号：</span><input type = "number" name = "id"  required/></p>
         <p><span>姓名</span><input type="text" name="username" required></p>
         <p><span>学院</span>
         <select name="depart">
            <option value="信息科学与技术学院">信息科学与技术学院</option>
            <option value="计算机与人工智能学院">计算机与人工智能学院</option>
            <option value="机械工程学院">机械工程学院</option>
            <option value="外国语学院">外国语学院</option>
         </select>
         </p>
         <p><span>手机号</span><input type="text" name="idnumber" required></p>
         <p><span>性别</span>
            <select name="sex">
               <option value="男">男</option>
               <option value="女">女</option>
            </select>
         </p>

         <input type = "submit" value = "确定" />
         <input type="reset" value="重置">

      </form>
   <a href="/listuserinfo">学生信息</a>
   </body>
</html>