<html>
<style type='text/css'>
   p span{display:inline-block;width: 100px;}
   a{display:inline-block;margin: 5px 0;border-radius: 4px;background: rgb(255,229,185);text-decoration: none;}
</style>
   <body>

      <form action = "{{ url_for('adduserrec') }}" method = "POST">
         <h3>add user</h3>
         <p><span>id: </span><input type = "number" name = "id"  required/></p>
         <p><span>username: </span><input type="text" name="username" required></p>
         <p><span>depart: </span>
         <select name="depart">
            <option value="信息科学与技术学院">信息科学与技术学院</option>
            <option value="计算机与人工智能学院">计算机与人工智能学院</option>
            <option value="机械工程学院">机械工程学院</option>
            <option value="外国语学院">外国语学院</option>
         </select>
         </p>
         <p><span>idnumber: </span><input type="text" name="idnumber" required></p>
         <p><span>sex: </span>
            <select name="sex">
               <option value="男">男</option>
               <option value="女">女</option>
            </select>
         </p>

         <input type = "submit" value = "submit" />
         <input type="reset" value="reset">

      </form>
   <a href="/listuserinfo">go users list</a>
   </body>
</html>